<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">{{ wtf.quick_form(add_image) }}</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table>
            <tr>
                <td>Preview</td>
                <td>Image Key</td>
            </tr>
            {% for image in post.images %}
                <tr>
                    <td>
                        <img src="{{ image.path }}" width="100px" height="100px">
                    </td>
                    <td>{{ image.object_key }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="col-md-6">{{ wtf.quick_form(delete_image) }}</div>
