{% extends "gallery/_gallery_base.html.j2" %}
{% block gallery_nav_title %}
    {{ _("Gallery Categories - %(c)s", c=category.name) }}
{% endblock gallery_nav_title %}
{% block gallery_nav_button_herf %}
    {{ url_for("gallery_category") }}
{% endblock gallery_nav_button_herf %}
{% block gallery_nav_button_label %}
    {{ _("Go Back") }}
{% endblock gallery_nav_button_label %}
{% block gallery_page_content %}
    <div class="container">
        <div class="row">
            {% include "gallery/_loop_images.html.j2" %}
            {% include "_pagination_button.html.j2" %}
        </div>
    </div>
{% endblock gallery_page_content %}
