{% extends "gallery/_gallery_base.html.j2" %}
{% block gallery_nav_title %}
    {{ _("Gallery Categories Posts %(c)s", c=category.name) }}
{% endblock gallery_nav_title %}
{% block gallery_nav_button_herf %}
    {{ url_for("gallery_category") }}
{% endblock gallery_nav_button_herf %}
{% block gallery_nav_button_label %}
    {{ _("Go Back") }}
{% endblock gallery_nav_button_label %}
{% block gallery_page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for post in posts %}
                    <div class="container">
                        <div class="col-md-6">
                            <h3>
                                <a href="{{ url_for('view_gallery', post_id=post.id) }}">{{ post.title }}</a>
                            </h3>
                            {% if post.images %}
                                <img src="{{ post.images[0].path }}"
                                     alt="{{ post.title }}"
                                     class="img-responsive"
                                     width="300px" />
                            {% endif %}
                            <p>
                                by: <a href="{{ url_for('profile', username = post.author.username) }}">{{ post.author.display_name }}</a> @ {{ moment(post.timestamp).fromNow() }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {% include "_pagination_button.html.j2" %}
            </div>
        </div>
    </div>
{% endblock gallery_page_content %}