{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Gallery") }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("gallery_create_post") }}"
                   class="btn btn-primary"
                   role="button">{{ _("Create Your Gallery") }}</a>
            </div>
        </div>
    </div>
    <hr />
    {% for post in posts %}
        <div class="post">
            <h3>
                <a href="{{ url_for('gallery_post_view', post_id=post.id) }}">{{ post.title }}</a>
            </h3>
            <p>sha256 of img {{ post.images[0].path }}</p>
            <p>
                by: <a href="{{ url_for('profile', username = post.author.username) }}">{{ post.author.display_name }}</a> @ {{ moment(post.timestamp).fromNow() }}
            </p>
        </div>
    {% endfor %}
    {% include "_pagination_button.html.j2" %}
{% endblock app_content %}
