{% extends "base.html.j2" %}
{% block content %}
    <h1>Create Post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.title.label }}</td>
                <td>{{ form.title(size=64) }}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{ current_user.display_name }}</td>
            </tr>
            <tr>
                <td>{{ form.body.label }}</td>
                <td>{{ form.body(rows=10, cols=64) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
    
{% endblock %}
