{{ _("Dear") }} {{ user.username }},
{{ _("To reset your password click on the following link within 10 minutes:") }}
{{ url_for('reset_password', token=token) }}
{{ _("If you have not requested a password reset simply ignore this message.") }}
