{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Second Hand Category - %(n)s", n= category.name) }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("secondhand_category") }}"
                   class="btn btn-primary"
                   role="button">{{_("go back")}}</a>
            </div>
        </div>
    </div>
    <hr />
    {% include "secondhand/_loop_images.html.j2" %}
    {% include "_pagination_button.html.j2" %}
{% endblock app_content %}
