{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Create Second Hand Post") }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("secondhand") }}"
                   class="btn btn-primary"
                   role="button">go back</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" class="form" enctype="multipart/form-data" role="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group required">
                        <label class="control-label" for="title">{{ form.title.label }}</label>
                        {{ form.title(class="form-control") }}
                    </div>
                    {% if form.title.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.images.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group required">
                        <label class="control-label" for="type">{{ form.type.label }}</label>
                        {{ form.type(class="form-control") }}
                    </div>
                    {% if form.type.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.type.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="form-group required">
                        <label class="control-label" for="type">{{ form.category.label }}</label>
                        {{ form.category(class="form-control") }}
                    </div>
                    {% if form.category.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.category.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group required">
                        <label class="control-label" for="price">{{ form.price.label }}</label>
                        {{ form.price(class="form-control", step="0.01", default="0") }}
                    </div>
                    {% if form.price.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.price.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group required">
                        <label class="form-label" for="validatedCustomFile">{{ form.description.label }}</label>
                        {{ form.description(class="form-control") }}
                    </div>
                    {% if form.description.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.description.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group required">
                        <label class="form-label" for="validatedCustomFile">{{ form.images.label }}</label>
                        {{ form.images(class="form-control") }}
                    </div>
                    {% if form.images.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.images.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock app_content %}
