{% extends "base.html.j2" %}
{% block app_content %}
    {% import 'bootstrap/wtf.html' as wtf %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Delete Second Hand Post") }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("view_secondhand_post", post_id = post.id) }}"
                   class="btn btn-primary"
                   role="button">go back</a>
            </div>
        </div>
    </div>
    <hr />
    {{ wtf.quick_form(form) }}
{% endblock app_content %}
