{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Second Hand Market") }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("secondhand_create_post") }}"
                   class="btn btn-primary"
                   role="button">{{ _("Create Second Hand Post") }}</a>
            </div>
        </div>
    </div>
    <hr />
    <h4>
        <a href="{{ url_for("secondhand_category") }}">{{ _("Filter By category") }}</a>
    </h4>
    <hr />
    {% include "secondhand/_loop_images.html.j2" %}
    {% include "_pagination_button.html.j2" %}
{% endblock app_content %}
