{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Second Hand Post") }}</h1>
            </div>
            <div class="span6 pull-right">
                <a href="{{ url_for("secondhand") }}"
                   class="btn btn-primary"
                   role="button">{{ _("Go back") }}</a>
            </div>
        </div>
    </div>
    <hr />
    <h2>{{ post.title }}</h2>
    <hr />
    <p>
        <span>{{ post.type }}</span>&nbsp;&nbsp;<span style="color: red">HK${{ post.price }}</span>
    </p>
    <p>{{ _("Category: ") }} {{ post.category }}</p>
    <p>{{ _("Seller:") }} {{ post.seller.display_name }}</p>
    <p>{{ _("Queries:") }} {{ post.queries }}</p>
    <p>{{ _("Views:") }} {{ post.views }}</p>
    <p>{{ _("Issue Date:") }} {{ post.issue_date.strftime("%d %b %Y") }}</p>
    {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    <hr />
    {% if post.seller == current_user %}
        <a href="{{ url_for('edit_secondhand', post_id=post.id) }}"
           class="btn btn-primary"
           role="button">{{ _("Edit Post") }}</a>
        <hr />
    {% endif %}
    {% for img in post.images %}
        <img src="{{ img.path }}"
             alt="{{ post.title }}"
             class="img-responsive"
             style="width: auto;
                    height: 250px;
                    object-fFit: contain" />
    {% endfor %}
{% endblock app_content %}
