{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="span6 pull-left">
                <h1 style="margin: 0; display: inline-block;">{{ _("Second Hand Post Submission") }}</h1>
            </div>
            {% include "secondhand/_back_button.html.j2" %}
        </div>
        <hr />
    </div>
    <h3>{{ post.title }}</h3>
    {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    <p>{{ _("Views:") }} {{ post.views }}</p>
    <hr />
    {% for img in post.images %}<img src="{{ img.path }}" alt="{{ post.title }}" class="img-responsive" />{% endfor %}
{% endblock app_content %}
