<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No Title Specified</title>
    {% endif %}
    <style>
      .bar-rapper {
        display: flex;
        justify-content: space-between;
      }
      .center_content {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div style="width: 500px;">
      <div class="bar-rapper">

        <div>
          Flask-Lab:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('debug_url') }}">Debug</a>
        </div>

        <div>
          {% if not current_user.is_authenticated %}
          Hello Stranger!
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
          {% else %}
          <p>
            Hi, {{ current_user.username }}!
            <a href="{{ url_for('logout') }}">Logout</a>
          </p>
          {% endif %}
        </div>
      </div>
    <hr />

    <div class="center_content">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>

  </div>
  </body>
</html>
