<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No Title Specified</title>
    {% endif %}
  </head>
  <body>
    <div>
      Flask-Lab:
      <a href="{{ url_for('index') }}">Home</a>
      <hr />

      {% if current_user.is_anonymous %} Hello Stranger!
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
      {% else %}

      <p>
        Hi, {{ current_user.username }}!
        <a href="{{ url_for('logout') }}">Logout</a>
      </p>

      {% endif %}
    </div>

    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
