{% extends "base.html.j2" %}
{% block app_content %}
  {% if form %}
    <h3>Hi, {{ current_user.username }}!</h3>
    {% import 'bootstrap/wtf.html' as wtf %}
    <div class="mb-3">{{ wtf.quick_form(form) }}</div>
    <hr>
  {% endif %}
  {% if posts %}
    {% include "_post_table.html.j2" %}
    {% if prev_url %}<a href="{{ prev_url }}">{{ _("Newer posts") }}</a>{% endif %}
    {% if next_url %}<a href="{{ next_url }}">{{ _("Older posts") }}</a>{% endif %}
  {% else %}
    {% if home %}
      <h5>{{ _("No posts yet.") }}</h5>
    {% else %}
      <h5>{{ _("No posts yet. Be the first to post!") }}</h5>
    {% endif %}
  {% endif %}
{% endblock app_content %}
